<manifest xmlns:android="http://schemas.android.com/apk/res/android"
     xmlns:tools="http://schemas.android.com/tools">

     <!-- Needed only if code looks for Bluetooth devices.
         Since the code doesn't use Bluetooth scan results to derive physical
         location information, it is strongly asserted that the code
         doesn't derive physical location.
         Link:
     https://developer.android.com/guide/topics/connectivity/bluetooth/permissions#assert-never-for-location
         -->
     <uses-permission
          android:name="android.permission.BLUETOOTH_SCAN"
          android:usesPermissionFlags="neverForLocation"
          tools:targetApi="s" />

     <!-- Needed only if code communicates with already-paired Bluetooth
         devices. -->
     <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />

     <!-- Needed only if code makes the device discoverable to Bluetooth
         devices. -->
     <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />
</manifest>
 